/* font */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* common css start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
:root {
  --primary-color: #289bde;

  /* text color */
  --black-color: #000000;
  --white-color: #ffffff;
  --gray-color: #979696;
}
a {
  text-decoration: none;
}
section {
  padding: 50px 0;
}
input:hover,
input:focus,
textarea:focus,
textarea:hover,
button,
.btn,
.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}
.main-btn {
  color: var(--white-color);
  padding: 10px 30px;
  font-size: 16px;
  font-weight: 600;
  background-color: var(--primary-color);
  border-radius: 5px;
  transition: all linear .4s ease-in-out;
}
.main-btn:hover {
  color: var(--primary-color);
  background-color: var(--white-color);
  border: 1px solid var(--primary-color);
  transition: all linear .4s ;
}
/* common css end */

/* header section start */
.header_wrapper .navbar {
  padding: 15px 0;
}
.header_wrapper .navbar .navbar-brand {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  color: var(--primary-color);
}
.header_wrapper .navbar-toggler {
  font-size: 25px;
}

.header_wrapper .navbar-toggler:focus {
  box-shadow: none;
}
.header_wrapper .nav-item {
  margin: 0 10px;
}

.header_wrapper .nav-item .nav-link {
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  color: var(--black-color);
  transition: all linear 0.5s ease-in-out;
}
.header_wrapper .nav-item .nav-link:hover {
  color: var(--primary-color);
}

.header_wrapper .nav-item .register-btn {
  color: var(--primary-color);
  padding: 10px 30px;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  transition: all linear 1s ease-in-out;
}
.header_wrapper .nav-item .register-btn:hover {
  color: var(--white-color);
  background-color: var(--primary-color);
}
/* header section end */

/* banner sections start */
.banner_wrapper .carousel-item img {
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
}
.banner_wrapper .carousel-item .carousel-caption h1{
  font-size: 50px;
  font-weight: 600;
  line-height: 1;
}
.banner_wrapper .carousel-item .carousel-caption p{
  font-size: 16px;
  padding: 10px 0;
}
/* banner section end */
